<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='style.css'>
  </head>
  <body>
    <header>
      <img src='chef-hat.png'>
      <h2>Add a Link</h2>
      <nav class='nav'>
        <a href='/'>The Feed</a>
        <a href='/addlink'>Contribute</a>
      </nav>
    </header>

    <h4>Have a favorite recipe or intersting food related article? Share it below!</h4>

    <div class='addDiv'>
      <form class='addForm' name='addlink' action='/newLink' method='post'>
        <label>Title</label>
          <input type='text' name='title' value=''>
        <label>Link</label>
          <input type='text' name='link' value=''>
        <input type='hidden' name='vote' value='1'>
        <button class='addBtn' type='submit'>Add Link</button>
      </form>
    </div>

    <p>{{description}}</p>

  </body>
</html>
